<p><strong>URL:</strong> <a href = "<%= @url %>"><%= @url %></a></p>
<hr>
<h5>How It Looks In Google</h5>
<div style="width: 512px;">
	<p><a style ="font-weight: bold;
	font-style: normal; white-space: nowrap; font-size: medium;color: #1e0fbe; font-family:arial, sans-serif; text-decoration: none;" href="<%= @url %>">
	<% if meta_title.length > 56 %>
		<%= meta_title[0..56] %>...
	<% else %>
		<%= meta_title %>
	<% end %>
	</a><br>
	<a style = "color: #006621; font-size: 13px;font-style: normal;line-height: 16px; text-decoration: none;" href = "<%= @url %>"><%= @url %></a><br>
	<span style="color: #545454; line-height: 1.4; font-size: small;
	font-family: arial,sans-serif;" word-wrap: break-word; >
		<%= meta_description[0..155] %>
	</span></p>
<hr>
</div>
<div>
	<p><strong>Canonical Link: </strong>
		<%= canonical_link || "There is no canonical link for this page" %>
	</p>
</div>
<hr>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
				<strong>Links on Page (<%= links.size %>)<span class="glyphicon glyphicon-chevron-down"></span></strong>
			</a>
		</div>
		<div id="collapseEight" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<% links.each do |link| %>
						<li><%= link['href'] %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				<strong>External links (<%= external_links.size %>)<span class="glyphicon glyphicon-chevron-down"></span></strong>
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<% external_links.each do |link| %>
						<li><%= link['href'] %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<% (1..6).each do |n| %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<% unless h_tags(n).empty? %>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=collapse_level(n)%>"><strong>H<%= n %>'s (<%= h_tags(n).length %>)<span class="glyphicon glyphicon-chevron-down"></span></strong>
					</a>
			</div>
			<div id="collapse<%=collapse_level(n)%>" class="accordion-body collapse">
				<div class="accordion-inner">
					<ul>
						<% h_tags(n).each do |h| %>
							<li> <%= h %></li>
						<% end %>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>


