<p><strong>URL:</strong> <a href = "<%= @url %>"><%= @url %></a></p>
<h4>How It Looks In Google</h4>
<div style="width: 512px;">
	<p><a style ="font-weight: bold;
	font-style: normal; white-space: nowrap; font-size: medium;color: #1e0fbe; font-family:arial, sans-serif; text-decoration: none;" href="<%= @url %>"><%= meta_title[0..56] %>...</a><br>
	<a style = "color: #006621; font-size: 13px;font-style: normal;line-height: 16px; text-decoration: none;" href = "<%= @url %>"><%= @url %></a><br>
	<span style="color: #545454; line-height: 1.4; font-size: small;
	font-family: arial,sans-serif;" word-wrap: break-word; >
	<% if meta_description %>
		<%= meta_description[0..155] %>
	<% else %>
		<%= "This page has no description, Google will choose what content to show from your page, and it will be up to approx 155 characters long" %>
	<% end %>
	</span></p>
</div>
<p><strong>Canonical Link: </strong> <%= canonical_link %></p>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
				<strong>Links on Page (<%= "FIVE HUNDRESD" %>)<span class="glyphicon glyphicon-chevron-down"></span></strong>
			</a>
		</div>
		<div id="collapseEight" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<% links.each do |link| %>
						<li><%= link %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				<strong>External links (<%= external_links %>)<span class="glyphicon glyphicon-chevron-down"></span></strong>
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<% external_links.each do |link| %>
						<li><%= link %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<% unless h_tags(1).empty? %>
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><strong>H1's (<%= h_tags(1).length %>)<span class="glyphicon glyphicon-chevron-down"></span></strong>
				</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<% h_tags(1).each do |h1| %>
						<li> <%= h1 %></li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
	</div>
</div>


