<!-- Need to make it say something if there is no meta title -->


<strong>URL:</strong> <a href = "<%= @url.content %>"><%= @url.content %></a>
<h2>How It Looks In Google</h2>
<div border: 0;
margin: 0;
padding: 0 8px; >
<p><a style ="font-weight: bold;
font-style: normal; white-space: nowrap; font-size: medium;color: #1e0fbe; font-family:arial, sans-serif; text-decoration: none;" href="<%= @url.content %>"><%= @title[0..56] %>...</span><br>
<a style = "color: #006621; font-size: 13px;font-style: normal;line-height: 16px; text-decoration: none;" href = "<%= @url.content %>"><%= @url.content %></a><br>
<span style="color: #545454; line-height: 1.4; font-size: small;
font-family: arial,sans-serif;" word-wrap: break-word; ><%= @content[0..155] %> </span></p>

<p><strong>Number of Links:</strong> <%= @total_links %></p>
<p><strong>Number of External Links:</strong> <%= @total_external_links %></div>

<h1>H1's</h1>
<ul>
<% @h1_array.each do |h1| %>
<li> <%= h1.text %></li>
<% end %>
</ul>
<h2>H2's</h2>
<ul>
<% @h2_array.each do |h2| %>
<li> <%= h2.text %></li>
<% end %>
</ul>
<h3>H3's</h3>
<ul>
<% @h3_array.each do |h3| %>
<li> <%= h3.text %></li>
<% end %>
</ul>
<h3>H4's</h3>
<ul>
<% @h4_array.each do |h4| %>
<li> <%= h4.text %></li>
<% end %>
</ul>
<h3>H5's</h3>
<ul>
<% @h5_array.each do |h5| %>
<li> <%= h5.text %></li>
<% end %>
</ul>
<h3>H6's</h3>
<ul>
<% @h6_array.each do |h6| %>
<li> <%= h6.text %></li>
<% end %>
</ul>

<h3>All Links</h3>
<ul>
<% @links.each do |link| %>
<li> <%= link["href"] %></li>
<% end %>
</ul>









